<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893479560077-rvl77k9nb6on2b540o5tp05pm8jbv945.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893479560077-rvl77k9nb6on2b540o5tp05pm8jbv945</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>893479560077-tojr8v119u4p17q12hqkm67n3oarhp8n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaDniSuuu_ck41uaIbkTSRLJOS76XEc3s</string>
	<key>GCM_SENDER_ID</key>
	<string>893479560077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cambridgefoundationschool.install</string>
	<key>PROJECT_ID</key>
	<string>healifybycambridge</string>
	<key>STORAGE_BUCKET</key>
	<string>healifybycambridge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893479560077:ios:df25b419896c45435c13c4</string>
</dict>
</plist>